@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home";
}

@section Styles {
    <link href="~/css/main.css" rel="stylesheet" />
}

<!-- Banner Principal -->
<section id="main-banner">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 text-center text-md-left">
                <a href="#" class="btn btn-primary">Ver ofertas</a>
            </div>
            <div class="col-md-6 text-center">
                <img src="~/images/home/girl1.jpg" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</section>

<!-- Categorías Destacadas -->
<section id="categories">
    <div class="container">
        <h2 class="text-center text-white mb-4">Explora nuestras categorías</h2>
        <div class="row text-center">
            <div class="col-6 col-md-3">
                <a href="#" class="category-card">
                    <img src="~/images/home/gallery1.jpg" alt="" class="img-fluid">
                    <p class="mt-2">OPCIÓN 1</p>
                </a>
            </div>
            <div class="col-6 col-md-3">
                <a href="#" class="category-card">
                    <img src="~/images/home/gallery2.jpg" alt="" class="img-fluid">
                    <p class="mt-2">OPCIÓN 2</p>
                </a>
            </div>
            <div class="col-6 col-md-3">
                <a href="#" class="category-card">
                    <img src="~/images/home/gallery3.jpg" alt="" class="img-fluid">
                    <p class="mt-2">OPCIÓN 3</p>
                </a>
            </div>
            <div class="col-6 col-md-3">
                <a href="#" class="category-card">
                    <img src="~/images/home/gallery4.jpg" alt="" class="img-fluid">
                    <p class="mt-2">OPCIÓN 4</p>
                </a>
            </div>
        </div>
    </div>
</section>


