<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TiendaPersonalizada</title>

    <!-- CSS references -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/dark-theme.css" rel="stylesheet" /> <!-- Enlace al nuevo archivo de tema oscuro -->
    <link rel="shortcut icon" href="~/images/ico/favicon.ico" />
</head>
<body>
    <header id="header">
        <div class="container">
            <div class="row align-items-center">
                <!-- Logo -->
                <div class="col-sm-3">
                    <div class="logo">
                        <a asp-area="" asp-controller="Home" asp-action="Index">
                            <img src="~/images/home/logo.png" alt="Logo" />
                        </a>
                    </div>
                </div>
                <!-- Categorías y Búsqueda -->
                <div class="col-sm-6">
                    <span class="category-menu">Todas las categorías</span>
                    <div class="search-bar">
                        <input type="text" placeholder="Buscar" />
                        <button><i class="fa fa-search"></i></button>
                    </div>
                </div>
                <!-- Usuario y Carrito -->
                <div class="col-sm-3">
                    <div class="user-menu">
                        <a href="#"><i class="fa fa-user"></i> Usuario</a>
                        <a href="#"><i class="fa fa-shopping-cart"></i> Mi Cesta</a>
                    </div>
                </div>
            </div>
            <!-- Navegación -->
            <ul class="nav">
                <li><a href="#">OPCIÓN 1</a></li>
                <li><a href="#">OPCIÓN 2</a></li>
                <li><a href="#">OPCIÓN 3</a></li>
                <li><a href="#">OPCIÓN 4</a></li>
            </ul>
        </div>
    </header>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="companyinfo">
                            <h2><span>e</span>-shopper</h2>
                            <p>Custom clothing at the best price.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <p class="pull-left">Copyright © @DateTime.Now.Year TiendaPersonalizada. All rights reserved.</p>
                    <p class="pull-right">Contact us: <a href="mailto:escarpaprieto@gmail.com">Mail</a></p>
                </div>
            </div>
        </div>
    </footer>

    <!-- JS References -->
    <script src="~/js/jquery.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
